@tailwind base;
@tailwind components;
@tailwind utilities;


.highcharts-credits {
    display: none !important;
  }
  .card-bg {
    background-image: url(../src/imgs/card-png.png);
  }
  .scrollbar-hide {
    scrollbar-width: none;
  }
  .highcharts-legend.highcharts-no-tooltip{
    display: none!important;
  }

  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}